@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Merich";
    src: url("./assets/Merich.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Kelsi";
    src: url("./assets/Kelsi-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

.container {
    --border-angle: 0turn;
    --main-bg: conic-gradient(
        from var(--border-angle),
        #213,
        #112 5%,
        #112 60%,
        #213 95%
    );

    --gradient-border: conic-gradient(
        from var(--border-angle),
        transparent 25%,
        #08f,
        #f03 99%,
        transparent
    );

    background: var(--main-bg) padding-box, var(--gradient-border) border-box,
        var(--main-bg) border-box;
}

@keyframes bg-spin {
    to {
        --border-angle: 1turn;
    }
}

@property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
}
