@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Merich";
  src: url("./assets/Merich.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Kelsi";
  src: url("./assets/Kelsi-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.cycle-x {
  position: relative;
  left: 0;

  transition-property: left;
  transition-duration: 10s;
  transition-timing-function: linear;
}
